<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/community.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="jumbotron">
            <h1>出错啦</h1>
            <p th:text="${}">服务太热啦，要不稍等下再来试试~</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
        </div>
    </div>
</body>
</html>